* {
    box-sizing: border-box; 
 }
 body {
 
 }
 .section-padding {
     padding: 0em 10em;
 }
 .primary-color {
    color: #de6c3b;
 }
 .uppercase {
    text-transform: uppercase;
 }
 .font-main {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
 }
 .font-second {
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .box {
     border: 2px solid black;
     background-color: white;
     justify-content: right;
     font-size: 1.6em;
     padding: 25px;
     height: 80%;
     width: 80%;

     
 }
 .container {
    background-color: rgba(240,238,220,0.7);
    margin: 20px 20px;
    height: 30em;
    padding: 5em 5em 5em 10em;
    display: flex;
 }
 .section {
     font-size: 1.5em;
     padding: 10px;
     border: 2px solid transparent;
     width: 100%;
     text-align: right;
     line-height: 15px;
     margin-right:40px;

    }
.section .font-second {
    font-size:2.5em;
}
 .flex-container {
     display:flex;
 }
 .flex-container>article {
    font-size: 1.7em;
    line-height: 30px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }
 .flex-img {
     display: flex;
     justify-content: center;
 }
 .flex-img img {
     height: 300px;
     width: 300px;
 }
 .navbar {
    display: inline-block;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.2em;
    padding: 2em;
 }
 .img-md {
     width: 50%;
     height: auto;
 }


 /*Navigatation bar & logo*/
 h3.logo {
     display: inline-block;
     border: 3px solid black;
     padding: 15px;
 }
 .navbar > a {
     position: relative;
     color: #000000;
     text-decoration: none;
     margin-right: 20px;
 }
 .navbar > a:hover {
     color: #000;
 }
 .navbar a:before {
     content: "";
     position: absolute;
     width: 100%;
     height: 2px;
     bottom: 0;
     left: 0;
     background-color: #de6c3b;
     visibility: hidden;
     -webkit-transform: scaleX(0);
     transform: scaleX(0);
     -webkit-transition: all 0.3s ease-in-out 0s;
     transition: all 0.3s ease-in-out 0s;
 }
 .navbar > a:hover:before {
     visibility: visible;
     -webkit-transform: scaleX(1);
     transform: scaleX(1);
 }
 /*Main Page*/
 img {
     width: 40%;
     height: 40%;
 }
 h1 {
     color: #de6c3b;
     font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
     text-align: center;
     font-size: 5em;
     width: 100%;
     margin-top: -80px;
     margin-left: 1.5em;
     margin-bottom: 0em;
 }
 
 h2 {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: center;
     margin-left: 6em;
     margin-top: 0.4em;
 
 }

 /*article section*/

 div h3 {
     background: url("file:///Users/InnovateBham_10/Desktop/resume/images/icons/linkgray.svg") 100% 25% no-repeat;
     padding-left: 16px;
 }
 hr {
     height: 5px;
     background-color: black;
 }

/*form*/
section p {
    font-size: 1.3em;
    float: left;
    clear: both;
    content: "";
}
.right {
    float: right;
}
input {
    width: 100%;
    
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgb(235, 232, 232);
}
.form {
    overflow: hidden;
    width: 50%;
    
}
.wrap1 p {
    width: 25%;
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 3em;
    color: #de6c3b;

}
.wrap2 {
    float: right;
    overflow: hidden;
}
.btn-round-orange {
        text-decoration:none;
        font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:rgb(240, 240, 235);
        font-size:12px;
        font-weight:bold;
        padding:0 15px;
        line-height:32px;
        height: auto;
        display:inline-block;
        text-align:center;
        background-color:#FF8A3C;
}
/*bottom of page*/

.footer {
    height: 3px;
    background-color: black;
    width: 50%;
}
footer p {
    text-align: center;
    
}
.logo-imgl {
    float: left;
    height: 20px;
    width: 20px;
}
.logo-imgr {
    float: right;
    height: 20px;
    width: 20px;
}