

.section-padding {
  padding: 3em 5em; 
}

.primary-color {
  color: #de6c3b; 
}
.secondary {
  color: rgb(186, 183, 183)
}

.uppercase {
  text-transform: uppercase; }

.font-main {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

.font-second {
  font-family: 'Old Standard TT', serif;
 }

.box-design {
  background-color: rgb(244, 244, 238);
  height: 500px;
  padding: 100px;
}

.box {
  border: 2px solid black;
  background-color: white;
  font-size: 21px;
  height: 14em;
  width: 53%;
  float: right;
  padding: 36px;
  
}
  

.section {
  border: 2px solid transparent;
  font-size: 28px;
  line-height: 30px;
  float: left;
  text-align: right;
  padding: 43px 12px 63px 90px;
 }

.section .font-second {
  font-size: 2.5em; }


.flex-container {
  display: flex;
  font-size: 21px;;
  line-height: 26px;
  padding: 50px;
}

.flex-img {
  display: flex;
  justify-content: center; }

.flex-img img {
  height: 300px;
  width: 300px; 
}




.img-md {
  width: 50%;
  height: auto; }

/*Navigatation bar & logo*/
.navbar {
  display: inline-block;
  float: right;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1.7em;
}

h3.logo {
  display: inline-block;
  border: 3px solid black;
  padding: 15px; 
  
}

.navbar > a {
  position: relative;
  color: #000000;
  text-decoration: none;
  margin-right: 20px; }

.navbar > a:hover {
  color: #000; }

.navbar a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #de6c3b;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.navbar > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

/*Main Page*/
img {
  width: 40%;
  height: 40%; }

h1 {
  color: #de6c3b;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  text-align: center;
  font-size: 5em;
  width: 100%;
  margin-top: -80px;
  margin-left: 1.5em;
  margin-bottom: 0em; }

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-left: 6em;
  margin-top: 0.4em; }


div h3 {
  background: url("file:///Users/InnovateBham_10/Desktop/resume/images/linkgray.svg") 100% 25% no-repeat;
  padding-left: 16px; 
}



hr {
  height: 5px;
  background-color: black; }

/*form*/
.top-form p {
  font-size: 26px;
  float: left;
}

.right {
  float: right;
  display: inline-grid;
}
#lets-talk {
  font-size: 4em;
  color: #de6c3b;

}
input {
  width: 100%; }

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #ebe8e8; }

 .form { 
  width: 100%;
  padding: 0px 100px;
  margin: 5px 0 22px 0;
  display: inline-block;
}

.btn-round-orange {
  text-decoration: none;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f0f0eb;
  font-size: 33px;
  padding: 15px 41px;
  line-height: 20px;
  height: auto;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  float: right;
  background-color: #FF8A3C; }

/*bottom of page*/
footer {
  
}
.footer {
  height: 0px;
  background-color:;
  width: 80%; 
  box-shadow: 0 0 9px 0px black;
}

.links {
  display: flex;
  width: 100%;
  padding: 23px 400px; 
}
footer p {
  text-align: center;
  font-size: 20px; 

}

.logo-imgl {
  float: left;
  height: 40px;
  width: 40px; }

.logo-imgr {
  float: right;
  height: 40px;
  width: 40px; }

